h1 {
    text-align: center;
    color : black;
}

hr {
    width: 37%; 
    border-color: lawngreen;
    border-width: 3px 0 0;
    
}

div.picture {
    
    text-align: center;
}

div.studentinfo {
    padding-left: 0px;

}



div.wrapper {
    margin: auto;
    width : 60%;

}



h2 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}


















